<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

</head>
    <script type="text/javascript" src="static/scripts.js" defer></script>
<body>
    <h1>Welcome to the Homepage!</h1>
    <p>
        <a href="/developerInfo.html">Click here to see the Developer info page!</a>
    </p>
    <form id="myForm">
        <label for="sport">Sport:</label>
        <select id="sport" name="sport" onchange="updateTeamOptions()">
            <option value=""></option>
            <option value="Football">football</option>
            <option value="Basketball">basketball</option>
        </select>

        <div id="teamSelectWrapper" style="display: none;">
            <label for="teamSelect">Team:</label>
            <select id="teamSelect" name="team" onchange="addButton()">
                <!-- Teams will be populated dynamically based on the sport selection -->
            </select>
        </div>
        <br />

    </form>

    <div id="standings"></div> <!-- Area to display standings -->
</body>
</html>
