<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Welcome to the Homepage!</h1>
    <p>
        <a href="/secret.html">Click here to see the secret page!</a>
    </p>
    <form action="/show_football_info" method="POST">
        <label for="sport">What sport are you interested in?</label>
        <input type="text" id="sport" name="sport" value="">
        <input type="submit" value="Submit">
    </form>
</body>
</html>
