<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Me and Zackie</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin-top: 50px;
        }
        a {
            color: #0073e6;
            text-decoration: none;
            font-weight: bold;
        }
        a:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <h1>Ethan, Marcos, and Zach!</h1>
    <p>
        <a href="https://github.com/EthanDeLaRosa1" target="_blank">Visit Ethan's GitHub!</a>
    </p>
    <p>
        <a href="https://github.com/soulfll" target="_blank">Visit Marcos' GitHub!</a>
    </p>
    <p>
        <a href="https://github.com/ZacharyTrux" target="_blank">Visit Zack's GitHub!</a>
    </p>
    <p>
        <a href="/">Go back to the homepage</a>
    </p>
    <img src="static/Capy.jpg" alt="Capybara">
    <p>
        <button onclick="location.reload();">Refresh Page</button>
    </p>
</body>
</html>
